GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=us-central1
FIRESTORE_PROJECT_ID=firestore-project-id
FIRESTORE_DATABASE_ID=your-db-id
GEMINI_MODEL="gemini-3.6-flash"
GOOGLE_GENAI_USE_VERTEXAI=true
AGENT_URL=http://localhost:8000/api/reasoning_engine